annotated-types==0.7.0
anyio==4.4.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
fastapi==0.114.2
gym==0.26.2
gym-notices==0.0.8
h11==0.14.0
idna==3.10
numpy==2.1.1
pandas==2.2.3
pydantic==2.9.1
pydantic-core==2.23.3
requests==2.32.3
setuptools==72.1.0
sniffio==1.3.1
starlette==0.38.5
treys==0.1.8
typing-extensions==4.12.2
urllib3==2.2.3
uvicorn==0.30.6
wheel==0.44.0
